.c-white {
    color: #E2F3F5;
    
}

.c-whiteBg{
    background-color: #E2F3F5; 
}

.c-lightBlue{
    color: #22D1EE;
   
}

.c-lightBlueBg{
    background-color: #22D1EE;
}

.c-paraBlue{
    color: #278EA5;

}

.c-paraBlueBg{
    background-color: #278EA5;
}

.c-midBlue{
    color: #226089;
}

.c-midBlueBg{
    background-color: #226089;
}

.c-bg{
    color: #0E153A;
}

.c-bgbg{
    background-color: #0E153A;
}

.c-fontTitles{
    font-size: 70px;
}

.c-subtitle{
    font-size: 48px;
}

.c-subSubtitle{
    font-size: 42px;
}


.c-paraFont{
    font-size: 34px;
}

.c-smallerParaFont{
    font-size: 26px;
}

.c-contactLinkFont{
    font-size: 48px;
}

.c-container{   
    border-radius: 30px;
   
}

.c-img {
    border-radius: 30px;
    max-width: 459px;
    max-height: 356px;
}

.c-vl {
    border-left: 2px solid whitesmoke; 
    height: 100vh; 
    position:absolute;
    left:50%
  }

#c-resumeBox{
    
}


#contact-left{float:left;width:50%; margin-left: 100px}
#contact-right{float:left;width:50%;max-width:480px; margin-right: 100px}


@media all and (max-width: 1400px) {
    .c-vl { display: none;}
    #contact-left{float:left;width:50%; margin-left: 10px}
    #contact-right{float:left;width:50%;max-width:480px; margin-right: 10px; margin-left: 10px;}
}






/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 15px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    margin-top:10px;
    background-color: #22D1EE;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #22F1FF;
}
  
  /* Add a background color and some padding around the form */
.c-contactContainer {
    background-color: #226089;
    border-radius: 20px;
    padding: 20px;
    max-width: 875px;
    margin: 0 auto;
    margin-bottom:100px;

}

.c-backButton{
    position: absolute;
    left: 7%;
    top: 10%;
            }

:root{
    --backFontSize: 300%;
    --sideLength: 50%;
}
.c-backFont{
    font-size: var(--backFontSize);
}

.c-backHover:hover{
    color: #278EA5; 
}

.c-backHoverFont:hover{
    font-size: calc(var(--backFontSize) + 20%)
}

.c-paraSquish{
    margin:0;
}

.c-skipAroundPadding{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 3vh;
    margin-right: 15vw;
    margin-left: 15vw;
    border-radius: 20px;
}
.c-aboutFormating{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 10vw;
    margin-left: 10vw;
    border-radius: 20px;
}
.c-gitHubLinkFormating{
    line-height: 0.3;
}
.c-gitHub:hover{
    color: #278EA5;
}
.c-paraContainer {
border-radius: 20px;
margin-top:7px;
padding-top:5px;
padding-right:10px;
padding-left:10px;
padding-bottom:5px;
margin-left:20vw;
margin-right:20vw;
margin-bottom:100px;}



.c-paraSideContainer{
border-radius: 20px;
margin-top:7px;
padding-top:5px;
padding-right:5px;
padding-left:5px;
padding-bottom:5px;
margin-left:5vw;
margin-bottom:100px; 
max-width: var(--sideLength);
}
#c-paraProjects{
    float:left;
    width:50%; 
}
#c-imageRight{
    float:right;
    max-width:35%;
    height: auto;
    margin-right: 5vw;
}



.c-paraSideContainer{
border-radius: 20px;
margin-top:7px;
padding-top:5px;
padding-right:5px;
padding-left:5px;
padding-bottom:5px;
margin-left:5vw;
margin-bottom:100px; 
max-width: var(--sideLength);
}
#c-sideVideo{
    float:left;
 
}
#c-imageRight{
    float:right;
    max-width:35%;
    height: auto;
    margin-right: 5vw;
}

.c-imageDescriber{
border-radius: 20px;
margin-top:10px;
margin-right:5vw;
margin-left: calc(var(--sideLength) + 10%);
margin-bottom:30px; /*ASK FRANKY ABOUT THIS AFTER */
max-width: 35%; 
}

#c-fpTopLink{
    position:absolute;
    left:43%;
    align-items:center;
    top:5%;
    
    
}

#c-fpRightLink{
    position:absolute;
    right:5%;
    top:45%;

}

#c-fpLeftLink{
    position:absolute;
    left:5%;
    top:45%;

}

#c-fpBotLink{
    position:absolute;
    bottom: 3%;
    left: 45%

}

@media only screen and (hover: none) and (pointer: coarse)  and (max-device-width: 900px) {
    .c-backButton{top:4%;}
}